<div class="container-fluid" id="background">
    <div class="row">
      <div id="cover" class="col-md-6">
        <div style="padding-left: 25px; padding-top: 25px;">
           <!-- <img src="../../../assets/DEVICEMANAGER.svg" alt="Device Manager"> -->
           <h1>Quiz Time !</h1>
        </div>
    </div>
    <form class="col-md-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="col-md-3" id="happy">
          <h2 style="font-size: 30px; font-weight: bold;">Register</h2>
          <br>
          <div class="form-group">
            <label for="fname">Full Name</label>
            <input type="text" class="form-control" id="fname" aria-describedby="fname" placeholder="Enter First name" formControlName="fullname">
            <small class="text-danger" [class.d-none]="registerForm.get('fullname').valid || registerForm.get('fullname').untouched">Full Name is required</small>
          </div>
          
         <br>
          
          
          <div class="form-group">
            <label for="employeeID">Email</label>
            <input type="text" class="form-control" id="employeeID"  aria-describedby="employeeID" placeholder="Enter employee id" formControlName="email">
            <small class="text-danger" [class.d-none]="registerForm.get('email').valid || registerForm.get('email').untouched">Email Id is required</small>
          </div>
           <br>
           <div class>
            <label for="psw" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" id="psw" formControlName="psw">
            <small class="text-danger" [class.d-none]="registerForm.get('psw').valid || registerForm.get('psw').untouched">Password is required</small>
          </div>
          
         
           <br>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
          <p style="font-size: 13px;">Already have an account? <a routerLink="/signin">Sign in</a>.</p>
        </div>
      </form>
    </div>
  
  
    </div>
      